@import '@fortawesome/fontawesome-svg-core/styles.css';
// All of your custom SCSS variables go first
$primary: #E2711D;
$secondary: #EAE1D0;
$info: #DACBAD;
$light: #f1f1f1;
$dark: #280004;
$warning: #C3C1C2;

.tooltip {
  top: 0;
}

$nav-tabs-link-hover-border-color: $primary;


// Manually import all boostrap files instead of boostrap.scss to manually modify variables before mixins are called

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
// Remove valid state
$form-validation-states: map-remove($form-validation-states, 'valid');

@import 'bootstrap/scss/_mixins.scss';
@import 'bootstrap/scss/_root.scss';
@import 'bootstrap/scss/_reboot.scss';
@import 'bootstrap/scss/_type.scss';
@import 'bootstrap/scss/_images.scss';
@import 'bootstrap/scss/_code.scss';
@import 'bootstrap/scss/_grid.scss';
@import 'bootstrap/scss/_tables.scss';
@import 'bootstrap/scss/_forms.scss';
@import 'bootstrap/scss/_buttons.scss';
@import 'bootstrap/scss/_transitions.scss';
@import 'bootstrap/scss/_dropdown.scss';
@import 'bootstrap/scss/_button-group.scss';
@import 'bootstrap/scss/_input-group.scss';
@import 'bootstrap/scss/_custom-forms.scss';
@import 'bootstrap/scss/_nav.scss';
@import 'bootstrap/scss/_navbar.scss';
@import 'bootstrap/scss/_card.scss';
@import 'bootstrap/scss/_breadcrumb.scss';
@import 'bootstrap/scss/_pagination.scss';
@import 'bootstrap/scss/_badge.scss';
@import 'bootstrap/scss/_jumbotron.scss';
@import 'bootstrap/scss/_alert.scss';
@import 'bootstrap/scss/_progress.scss';
@import 'bootstrap/scss/_media.scss';
@import 'bootstrap/scss/_list-group.scss';
@import 'bootstrap/scss/_close.scss';
@import 'bootstrap/scss/_toasts.scss';
@import 'bootstrap/scss/_modal.scss';
@import 'bootstrap/scss/_tooltip.scss';
@import 'bootstrap/scss/_popover.scss';
@import 'bootstrap/scss/_carousel.scss';
@import 'bootstrap/scss/_spinners.scss';
@import 'bootstrap/scss/_utilities.scss';
@import 'bootstrap/scss/_print.scss';
$form-validation-states: map-remove($form-validation-states, 'valid');




@import 'bootstrap-vue/src/index.scss';


body {
  font-family: 'Brygada+1918';
  background-color: $secondary;
  color: $dark;
}

.carousel {
  height: 200px;
  width: 90%;
}

.carousel-item img {
  height: 200px;
  min-width: 100%;
}

@include media-breakpoint-up(md) {
  .carousel {
    height: 700px;
  }

  .carousel-item img {
    height: 700px;
  }

}

.isClickable {
  cursor: pointer;
}

.isDisabled {
  cursor: not-allowed;
}

.selected {
  border: .125rem solid $primary !important;
}

$sizes: (.063rem, .125rem, .188rem);
$directions: ('bottom', 'top', 'left', 'right');

@each $size in $sizes {
  $i: index($sizes, $size);

  .border-#{$i} {
    border: $size solid $dark !important;
  }


  @each $direction in $directions {
    .border-#{$direction}-#{$i} {
      border-#{$direction}: $size solid $dark !important;

    }
  }
}

.nav-image-height {
  height: 45px;

  @include media-breakpoint-up(md) {
    height: 65px;
  }
}

@include media-breakpoint-up(md) {
  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .7s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.active-border {
  border-bottom: 1px solid $primary !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

.card-columns {
  column-count: 1;
  @include media-breakpoint-up(sm) {
      column-count: 4;
  }
}
