// All of your custom SCSS variables go first
$primary: #E2711D;
$secondary: #EAE1D0;
$info: #DACBAD;
$light: #f1f1f1;
$dark: #280004;
$warning: #C3C1C2;

//then bootstrap & bootstrap-vue should be added after 
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

body {
  font-family: 'Brygada+1918';
  background-color: $secondary;
  color: $dark;
}

.carousel {
  height: 200px;
  width: 90%;
}

.carousel-item img {
  height: 200px;
  min-width: 100%;
}

@include media-breakpoint-up(md) {
  .carousel {
    height: 700px;
  }

  .carousel-item img {
    height: 700px;
  }

}

.isClickable {
  cursor: pointer;
}

.selected {
  border: .125rem solid $primary !important;
}

$sizes: (.063rem, .125rem, .188rem);
$directions: ("bottom", "top", "left", "right");

@each $size in $sizes {
  $i: index($sizes, $size);

  .border-#{$i} {
    border: $size solid $dark !important;
  }


  @each $direction in $directions {
    .border-#{$direction}-#{$i} {
      border-#{$direction}: $size solid $dark !important;

    }
  }
}
